In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
adidas = pd.read_csv('ADI_data.csv')
nike = pd.read_csv('NKE_data.csv')

In [3]:
data = { 'Date': adidas['Date'],
         'adidas': adidas['Close'],
         'nike': nike['Close']}
data = pd.DataFrame(data)
data

            Date  adidas   nike
0     2012-08-13   40.53  23.96
1     2012-08-14   40.28  23.73
2     2012-08-15   40.43  23.56
3     2012-08-16   40.85  23.70
4     2012-08-17   40.82  24.06
5     2012-08-20   40.54  23.94
6     2012-08-21   40.34  23.96
7     2012-08-22   39.70  23.94
8     2012-08-23   39.57  23.86
9     2012-08-24   39.74  24.22
10    2012-08-27   39.60  24.11
11    2012-08-28   39.55  24.72
12    2012-08-29   39.52  24.67
13    2012-08-30   39.39  24.44
14    2012-08-31   39.74  24.34
15    2012-09-04   39.36  24.32
16    2012-09-05   39.30  24.34
17    2012-09-06   40.34  24.86
18    2012-09-07   40.45  24.82
19    2012-09-10   40.07  25.01
20    2012-09-11   40.23  24.92
21    2012-09-12   40.26  25.21
22    2012-09-13   40.89  24.80
23    2012-09-14   41.68  24.16
24    2012-09-17   41.16  24.49
25    2012-09-18   40.77  24.43
26    2012-09-19   40.92  24.42
27    2012-09-20   40.51  24.18
28    2012-09-21   40.32  24.13
29    2012-09-24   39.83  23.83
...          ...     ...    ...
1228  2017-06-30   77.80  59.00
1229  2017-07-03   76.11  58.65
1230  2017-07-05   77.74  57.56
1231  2017-07-06   77.33  57.16
1232  2017-07-07   78.47  57.98
1233  2017-07-10   78.73  58.73
1234  2017-07-11   79.86  58.18
1235  2017-07-12   80.37  58.22
1236  2017-07-13   80.27  57.94
1237  2017-07-14   81.55  58.00
1238  2017-07-17   81.09  57.79
1239  2017-07-18   81.14  57.65
1240  2017-07-19   80.37  57.77
1241  2017-07-20   80.85  59.10
1242  2017-07-21   78.96  59.95
1243  2017-07-24   78.75  58.95
1244  2017-07-25   79.52  59.39
1245  2017-07-26   80.72  58.36
1246  2017-07-27   79.55  58.15
1247  2017-07-28   79.24  58.67
1248  2017-07-31   79.01  59.05
1249  2017-08-01   78.95  59.84
1250  2017-08-02   78.82  59.79
1251  2017-08-03   77.94  60.14
1252  2017-08-04   77.78  59.76
1253  2017-08-07   78.87  59.79
1254  2017-08-08   78.97  59.46
1255  2017-08-09   77.98  59.90
1256  2017-08-10   76.83  59.07
1257  2017-08-11   78.04  58.97

[1258 rows x 3 columns]

In [4]:
returns = np.log(data.iloc[:,1:] / data.iloc[:,1:].shift(1) )
returns

        adidas      nike
0          NaN       NaN
1    -0.006187 -0.009646
2     0.003717 -0.007190
3     0.010335  0.005925
4    -0.000735  0.015076
5    -0.006883 -0.005000
6    -0.004946  0.000835
7    -0.015992 -0.000835
8    -0.003280 -0.003347
9     0.004287  0.014975
10   -0.003529 -0.004552
11   -0.001263  0.024986
12   -0.000759 -0.002025
13   -0.003295 -0.009367
14    0.008846 -0.004100
15   -0.009608 -0.000822
16   -0.001526  0.000822
17    0.026119  0.021139
18    0.002723 -0.001610
19   -0.009439  0.007626
20    0.003985 -0.003605
21    0.000745  0.011570
22    0.015527 -0.016397
23    0.019136 -0.026145
24   -0.012554  0.013566
25   -0.009520 -0.002453
26    0.003672 -0.000409
27   -0.010070 -0.009877
28   -0.004701 -0.002070
29   -0.012227 -0.012511
...        ...       ...
1228  0.000772  0.104043
1229 -0.021962 -0.005950
1230  0.021190 -0.018760
1231 -0.005288 -0.006974
1232  0.014634  0.014244
1233  0.003308  0.012853
1234  0.014251 -0.009409
1235  0.006366  0.000687
1236 -0.001245 -0.004821
1237  0.015820  0.001035
1238 -0.005657 -0.003627
1239  0.000616 -0.002426
1240 -0.009535  0.002079
1241  0.005955  0.022761
1242 -0.023654  0.014280
1243 -0.002663 -0.016821
1244  0.009730  0.007436
1245  0.014978 -0.017495
1246 -0.014601 -0.003605
1247 -0.003905  0.008903
1248 -0.002907  0.006456
1249 -0.000760  0.013290
1250 -0.001648 -0.000836
1251 -0.011227  0.005837
1252 -0.002055 -0.006339
1253  0.013917  0.000502
1254  0.001267 -0.005535
1255 -0.012616  0.007373
1256 -0.014857 -0.013953
1257  0.015626 -0.001694

[1258 rows x 2 columns]

<b> adidas </b>

In [5]:
returns['adidas'].mean()

0.0005212244034325326

In [6]:
returns['adidas'].mean()*250

0.13030610085813316

In [7]:
returns['adidas'].std() #standar deviation

0.014748675636302869

In [8]:
returns['adidas'].std()*250 **0.5

0.23319703740875108

<b> nike </b>

In [9]:
returns['nike'].mean()

0.0007165020419770595

In [10]:
returns['nike'].mean()*250

0.17912551049426487

In [11]:
returns['nike'].std() #standar deviation

0.013689971772830673

In [12]:
returns['nike'].std()*250 **0.5 # **0.5 for square root

0.2164574595277907

In [13]:
returns['adidas'].mean()*250

0.13030610085813316

In [14]:
returns['nike'].mean()*250

0.17912551049426487

In [15]:
returns['adidas','nike'].mean()*250

KeyError: ('adidas', 'nike')

In [16]:
returns[['adidas','nike']].mean()*250

adidas    0.130306
nike      0.179126
dtype: float64

In [17]:
returns[['adidas','nike']].std()*250**0.5

adidas    0.233197
nike      0.216457
dtype: float64