In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
boeing = pd.read_csv('BA_data.csv')
ebay = pd.read_csv('EBAY_data.csv')

In [3]:
data = { 'Date': boeing['Date'],
         'boeing': boeing['Close'],
         'ebay': ebay['Close']}
data = pd.DataFrame(data)
data

            Date  boeing   ebay
0     2012-08-13   74.19  45.32
1     2012-08-14   73.81  45.36
2     2012-08-15   73.07  44.98
3     2012-08-16   73.64  45.79
4     2012-08-17   73.91  46.87
5     2012-08-20   73.83  46.40
6     2012-08-21   73.27  45.85
7     2012-08-22   72.80  47.00
8     2012-08-23   70.36  46.80
9     2012-08-24   71.09  47.10
10    2012-08-27   71.38  46.98
11    2012-08-28   71.52  46.94
12    2012-08-29   71.44  47.49
13    2012-08-30   70.82  46.55
14    2012-08-31   71.40  47.47
15    2012-09-04   70.87  47.36
16    2012-09-05   71.92  47.16
17    2012-09-06   72.82  48.91
18    2012-09-07   72.89  49.24
19    2012-09-10   71.08  48.53
20    2012-09-11   71.27  48.33
21    2012-09-12   70.96  47.99
22    2012-09-13   71.58  48.88
23    2012-09-14   71.28  49.97
24    2012-09-17   69.92  50.48
25    2012-09-18   70.45  49.96
26    2012-09-19   69.90  50.39
27    2012-09-20   69.85  50.08
28    2012-09-21   69.97  49.47
29    2012-09-24   70.03  49.31
...          ...     ...    ...
1228  2017-06-30  197.75  34.92
1229  2017-07-03  198.59  34.60
1230  2017-07-05  201.81  34.72
1231  2017-07-06  201.48  34.03
1232  2017-07-07  202.37  34.23
1233  2017-07-10  203.96  35.04
1234  2017-07-11  206.27  35.19
1235  2017-07-12  206.44  36.03
1236  2017-07-13  206.23  36.50
1237  2017-07-14  208.51  37.08
1238  2017-07-17  209.00  37.05
1239  2017-07-18  208.24  36.80
1240  2017-07-19  210.88  37.08
1241  2017-07-20  210.28  37.18
1242  2017-07-21  212.14  36.61
1243  2017-07-24  212.18  36.38
1244  2017-07-25  212.46  36.32
1245  2017-07-26  233.45  37.04
1246  2017-07-27  241.00  36.17
1247  2017-07-28  241.27  35.94
1248  2017-07-31  242.46  35.73
1249  2017-08-01  239.44  35.91
1250  2017-08-02  237.95  35.90
1251  2017-08-03  238.25  35.71
1252  2017-08-04  237.71  35.62
1253  2017-08-07  240.23  36.11
1254  2017-08-08  239.50  36.36
1255  2017-08-09  234.31  36.08
1256  2017-08-10  232.88  34.99
1257  2017-08-11  234.88  35.05

[1258 rows x 3 columns]

In [4]:
returns = np.log(data.iloc[:,1:] / data.iloc[:,1:].shift(1) )
returns

        boeing      ebay
0          NaN       NaN
1    -0.005135  0.000882
2    -0.010076 -0.008413
3     0.007770  0.017848
4     0.003660  0.023312
5    -0.001083 -0.010078
6    -0.007614 -0.011924
7    -0.006435  0.024772
8    -0.034091 -0.004264
9     0.010322  0.006390
10    0.004071 -0.002551
11    0.001959 -0.000852
12   -0.001119  0.011649
13   -0.008716 -0.019992
14    0.008156  0.019571
15   -0.007451 -0.002320
16    0.014707 -0.004232
17    0.012436  0.036436
18    0.000961  0.006724
19   -0.025145 -0.014524
20    0.002669 -0.004130
21   -0.004359 -0.007060
22    0.008699  0.018376
23   -0.004200  0.022055
24   -0.019264  0.010154
25    0.007552 -0.010355
26   -0.007838  0.008570
27   -0.000716 -0.006171
28    0.001716 -0.012255
29    0.000857 -0.003240
...        ...       ...
1228  0.001468  0.011811
1229  0.004239 -0.009206
1230  0.016084  0.003462
1231 -0.001637 -0.020073
1232  0.004408  0.005860
1233  0.007826  0.023388
1234  0.011262  0.004272
1235  0.000824  0.023590
1236 -0.001018  0.012960
1237  0.010995  0.015765
1238  0.002347 -0.000809
1239 -0.003643 -0.006771
1240  0.012598  0.007580
1241 -0.002849  0.002693
1242  0.008806 -0.015450
1243  0.000189 -0.006302
1244  0.001319 -0.001651
1245  0.094214  0.019630
1246  0.031829 -0.023768
1247  0.001120 -0.006379
1248  0.004920 -0.005860
1249 -0.012534  0.005025
1250 -0.006242 -0.000279
1251  0.001260 -0.005307
1252 -0.002269 -0.002523
1253  0.010545  0.013663
1254 -0.003043  0.006899
1255 -0.021908 -0.007731
1256 -0.006122 -0.030676
1257  0.008551  0.001713

[1258 rows x 2 columns]

In [5]:
weights = np.array([0.5,0.5])

In [6]:
pfolio_var = np.dot(weights.T, np.dot(returns.cov()*250, weights))
pfolio_var

0.070512157219863592

In [7]:
pfolio_vol = (np.dot(weights.T, np.dot(returns.cov()*250, weights)))**0.5
pfolio_vol

0.26554125332961653

In [8]:
print(str(round(pfolio_vol,5)*100)+'%')

26.554%

In [9]:
boeing_var_a = returns[['boeing']].var()*250
boeing_var_a

boeing    0.04424
dtype: float64

In [10]:
ebay_var_a = returns[['ebay']].var()*250
ebay_var_a

ebay    0.205427
dtype: float64

In [11]:
d_risk = pfolio_var - (weights[0]**2*boeing_var_a)- (weights[1]**2*ebay_var_a)
d_risk

boeing   NaN
ebay     NaN
dtype: float64

In [12]:
float(boeing_var_a)

0.044239500040224644

In [13]:
boeing_var_a = returns['boeing'].var()*250
boeing_var_a

0.044239500040224644

In [14]:
ebay_var_a = returns['ebay'].var()*250
ebay_var_a

0.20542748322978718

In [15]:
d_risk = pfolio_var - (weights[0]**2*boeing_var_a)- (weights[1]**2*ebay_var_a)
d_risk

0.0080954114023606347

In [16]:
print(str(round(d_risk*100,3))+'%')

0.81%

In [18]:
n_dr_1 = pfolio_var - d_risk
n_dr_1

0.062416745817502957

In [20]:
n_dr_2 = (weights[0]**2*boeing_var_a) + (weights[1]**2*ebay_var_a)
n_dr_2

0.062416745817502957

In [21]:
n_dr_1 == n_dr_2

True