In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
sp500 = pd.read_csv('sp500.csv')
nike = pd.read_csv('NKE_data.csv')

data = sp500.merge(nike, on='Date', how = 'inner')
data

,Date,Close_x,Open_x,High_x,Low_x,Open_y,High_y,Low_y,Close_y,Volume,Name
0,2012-08-13,1404.11,1405.87,1405.87,1397.32,23.58,23.98,23.46,23.96,6880264,NKE
1,2012-08-14,1403.93,1404.36,1410.03,1400.60,24.03,24.03,23.68,23.73,10998804,NKE
2,2012-08-15,1405.53,1403.89,1407.73,1401.83,23.72,23.92,23.54,23.56,10466376,NKE
3,2012-08-16,1415.51,1406.61,1417.44,1404.15,23.55,23.85,23.36,23.70,13942756,NKE
4,2012-08-17,1418.16,1415.84,1418.71,1414.67,23.76,24.12,23.71,24.06,12295604,NKE
5,2012-08-20,1418.13,1417.85,1418.13,1412.12,24.06,24.19,23.90,23.94,7441464,NKE
6,2012-08-21,1413.17,1418.13,1426.68,1410.86,23.98,24.07,23.79,23.96,8553096,NKE
7,2012-08-22,1413.49,1413.09,1416.12,1406.78,23.94,24.00,23.80,23.94,6466520,NKE
8,2012-08-23,1402.08,1413.49,1413.49,1400.50,23.92,24.00,23.74,23.86,6761760,NKE
9,2012-08-24,1411.13,1401.99,1413.46,1398.04,23.86,24.28,23.86,24.22,9763736,NKE
10,2012-08-27,1410.44,1411.13,1416.17,1409.11,24.23,24.31,24.02,24.11,6921328,NKE
11,2012-08-28,1409.30,1410.44,1413.63,1405.59,24.05,24.82,23.96,24.72,16473500,NKE
12,2012-08-29,1410.49,1409.32,1413.95,1406.57,24.74,24.75,24.55,24.67,9467856,NKE
13,2012-08-30,1399.48,1410.08,1410.08,1397.01,24.47,24.62,24.38,24.44,7020252,NKE
14,2012-08-31,1406.58,1400.07,1413.09,1398.96,24.52,24.63,24.24,24.34,8129188,NKE
15,2012-09-04,1404.94,1406.54,1409.31,1396.56,24.30,24.47,24.06,24.32,7589144,NKE
16,2012-09-05,1403.44,1404.94,1408.81,1401.25,24.38,24.44,24.24,24.34,6288000,NKE
17,2012-09-06,1432.12,1403.44,1432.12,1403.44,24.44,24.89,24.37,24.86,9090548,NKE
18,2012-09-07,1437.92,1432.12,1437.92,1431.45,24.83,24.94,24.72,24.82,6991508,NKE
19,2012-09-10,1429.08,1437.92,1438.74,1428.98,24.81,25.22,24.76,25.01,8678360,NKE
20,2012-09-11,1433.56,1429.13,1437.76,1429.13,24.86,25.05,24.78,24.92,9840004,NKE
21,2012-09-12,1436.56,1433.56,1439.15,1432.99,24.96,25.23,24.85,25.21,9197820,NKE
22,2012-09-13,1459.99,1436.56,1463.76,1435.34,24.84,24.95,24.57,24.80,17325628,NKE
23,2012-09-14,1465.77,1460.07,1474.51,1460.07,24.73,24.78,23.97,24.16,22892364,NKE
24,2012-09-17,1461.19,1465.42,1465.63,1457.55,24.08,24.52,24.02,24.49,9378872,NKE
25,2012-09-18,1459.32,1461.19,1461.47,1456.13,24.42,24.56,24.27,24.43,13601084,NKE
26,2012-09-19,1461.05,1459.50,1465.15,1457.88,25.06,25.12,24.40,24.42,18671940,NKE
27,2012-09-20,1460.26,1461.05,1461.23,1449.98,24.60,24.60,24.10,24.18,12852268,NKE
28,2012-09-21,1460.15,1460.34,1467.07,1459.51,24.38,24.38,24.05,24.13,13667268,NKE
29,2012-09-24,1456.89,1459.76,1460.72,1452.06,23.90,24.09,23.50,23.83,11824724,NKE
...,...,...,...,...,...,...,...,...,...,...,...
1228,2017-06-30,2423.41,2429.20,2432.71,2421.65,56.60,59.71,56.50,59.00,46552954,NKE
1229,2017-07-03,2429.01,2431.39,2439.17,2428.69,58.37,59.01,58.33,58.65,9910021,NKE
1230,2017-07-05,2432.54,2430.78,2434.90,2422.05,58.24,58.29,57.51,57.56,16166954,NKE
1231,2017-07-06,2409.75,2423.44,2424.28,2407.70,57.45,57.72,57.00,57.16,9035661,NKE
1232,2017-07-07,2425.18,2413.52,2426.92,2413.52,57.40,58.08,57.03,57.98,8145436,NKE
1233,2017-07-10,2427.43,2424.51,2432.00,2422.27,57.89,58.81,57.68,58.73,8942398,NKE
1234,2017-07-11,2425.53,2427.35,2429.30,2412.79,58.54,58.93,58.04,58.18,7222995,NKE
1235,2017-07-12,2443.25,2435.75,2445.76,2435.75,58.31,58.75,58.10,58.22,7243119,NKE
1236,2017-07-13,2447.83,2444.99,2449.32,2441.69,58.22,58.58,57.93,57.94,8108634,NKE
1237,2017-07-14,2459.27,2449.16,2463.54,2446.69,57.95,58.21,57.64,58.00,6345279,NKE
1238,2017-07-17,2459.14,2459.50,2462.82,2457.16,58.00,58.35,57.76,57.79,6885045,NKE
1239,2017-07-18,2460.61,2455.88,2460.92,2450.34,57.74,58.08,57.47,57.65,4922455,NKE
1240,2017-07-19,2473.83,2463.85,2473.83,2463.85,57.60,57.88,57.39,57.77,4451101,NKE
1241,2017-07-20,2473.45,2475.56,2477.62,2468.43,59.12,59.59,58.80,59.10,11915546,NKE
1242,2017-07-21,2472.54,2467.40,2472.54,2465.06,59.00,60.00,58.91,59.95,11048297,NKE
1243,2017-07-24,2469.91,2472.04,2473.10,2466.32,59.69,59.77,58.76,58.95,7498860,NKE
1244,2017-07-25,2477.13,2477.88,2481.24,2474.91,59.32,59.52,58.92,59.39,5157123,NKE
1245,2017-07-26,2477.83,2479.97,2481.69,2474.94,59.09,59.13,58.32,58.36,5529498,NKE
1246,2017-07-27,2475.42,2482.76,2484.04,2459.93,58.60,58.68,57.98,58.15,8259947,NKE
1247,2017-07-28,2472.10,2469.12,2473.53,2464.66,58.15,58.74,57.97,58.67,5112825,NKE
1248,2017-07-31,2470.30,2475.94,2477.96,2468.53,NaN,59.12,58.33,59.05,6225907,NKE
1249,2017-08-01,2476.35,2477.10,2478.51,2471.14,59.00,59.94,58.90,59.84,9051700,NKE
1250,2017-08-02,2477.57,2480.38,2480.38,2466.48,59.55,59.95,59.27,59.79,4468121,NKE
1251,2017-08-03,2472.16,2476.03,2476.03,2468.85,59.80,60.53,59.64,60.14,5677172,NKE
1252,2017-08-04,2476.83,2476.88,2480.00,2472.08,60.17,60.34,59.63,59.76,4105953,NKE
1253,2017-08-07,2480.91,2477.14,2480.95,2475.88,59.82,60.10,59.71,59.79,4066712,NKE
1254,2017-08-08,2474.92,2478.35,2490.87,2470.32,59.88,60.12,59.36,59.46,5586439,NKE
1255,2017-08-09,2474.02,2465.35,2474.41,2462.08,59.42,59.96,59.26,59.90,5310944,NKE
1256,2017-08-10,2438.21,2465.38,2465.38,2437.75,59.68,59.69,59.06,59.07,5585115,NKE
1257,2017-08-11,2441.32,2441.04,2448.09,2437.85,58.73,59.27,58.59,58.97,4979994,NKE

In [4]:
data = { 'Date': data['Date'],
        'sp500': data['Close_x'],
         'nike': data['Close_y']}
data = pd.DataFrame(data)
data

            Date   nike    sp500
0     2012-08-13  23.96  1404.11
1     2012-08-14  23.73  1403.93
2     2012-08-15  23.56  1405.53
3     2012-08-16  23.70  1415.51
4     2012-08-17  24.06  1418.16
5     2012-08-20  23.94  1418.13
6     2012-08-21  23.96  1413.17
7     2012-08-22  23.94  1413.49
8     2012-08-23  23.86  1402.08
9     2012-08-24  24.22  1411.13
10    2012-08-27  24.11  1410.44
11    2012-08-28  24.72  1409.30
12    2012-08-29  24.67  1410.49
13    2012-08-30  24.44  1399.48
14    2012-08-31  24.34  1406.58
15    2012-09-04  24.32  1404.94
16    2012-09-05  24.34  1403.44
17    2012-09-06  24.86  1432.12
18    2012-09-07  24.82  1437.92
19    2012-09-10  25.01  1429.08
20    2012-09-11  24.92  1433.56
21    2012-09-12  25.21  1436.56
22    2012-09-13  24.80  1459.99
23    2012-09-14  24.16  1465.77
24    2012-09-17  24.49  1461.19
25    2012-09-18  24.43  1459.32
26    2012-09-19  24.42  1461.05
27    2012-09-20  24.18  1460.26
28    2012-09-21  24.13  1460.15
29    2012-09-24  23.83  1456.89
...          ...    ...      ...
1228  2017-06-30  59.00  2423.41
1229  2017-07-03  58.65  2429.01
1230  2017-07-05  57.56  2432.54
1231  2017-07-06  57.16  2409.75
1232  2017-07-07  57.98  2425.18
1233  2017-07-10  58.73  2427.43
1234  2017-07-11  58.18  2425.53
1235  2017-07-12  58.22  2443.25
1236  2017-07-13  57.94  2447.83
1237  2017-07-14  58.00  2459.27
1238  2017-07-17  57.79  2459.14
1239  2017-07-18  57.65  2460.61
1240  2017-07-19  57.77  2473.83
1241  2017-07-20  59.10  2473.45
1242  2017-07-21  59.95  2472.54
1243  2017-07-24  58.95  2469.91
1244  2017-07-25  59.39  2477.13
1245  2017-07-26  58.36  2477.83
1246  2017-07-27  58.15  2475.42
1247  2017-07-28  58.67  2472.10
1248  2017-07-31  59.05  2470.30
1249  2017-08-01  59.84  2476.35
1250  2017-08-02  59.79  2477.57
1251  2017-08-03  60.14  2472.16
1252  2017-08-04  59.76  2476.83
1253  2017-08-07  59.79  2480.91
1254  2017-08-08  59.46  2474.92
1255  2017-08-09  59.90  2474.02
1256  2017-08-10  59.07  2438.21
1257  2017-08-11  58.97  2441.32

[1258 rows x 3 columns]

In [6]:
returns = np.log(data.iloc[:,1:] / data.iloc[:,1:].shift(1) )
returns

          nike     sp500
0          NaN       NaN
1    -0.009646 -0.000128
2    -0.007190  0.001139
3     0.005925  0.007075
4     0.015076  0.001870
5    -0.005000 -0.000021
6     0.000835 -0.003504
7    -0.000835  0.000226
8    -0.003347 -0.008105
9     0.014975  0.006434
10   -0.004552 -0.000489
11    0.024986 -0.000809
12   -0.002025  0.000844
13   -0.009367 -0.007836
14   -0.004100  0.005060
15   -0.000822 -0.001167
16    0.000822 -0.001068
17    0.021139  0.020229
18   -0.001610  0.004042
19    0.007626 -0.006167
20   -0.003605  0.003130
21    0.011570  0.002091
22   -0.016397  0.016178
23   -0.026145  0.003951
24    0.013566 -0.003130
25   -0.002453 -0.001281
26   -0.000409  0.001185
27   -0.009877 -0.000541
28   -0.002070 -0.000075
29   -0.012511 -0.002235
...        ...       ...
1228  0.104043  0.001532
1229 -0.005950  0.002308
1230 -0.018760  0.001452
1231 -0.006974 -0.009413
1232  0.014244  0.006383
1233  0.012853  0.000927
1234 -0.009409 -0.000783
1235  0.000687  0.007279
1236 -0.004821  0.001873
1237  0.001035  0.004663
1238 -0.003627 -0.000053
1239 -0.002426  0.000598
1240  0.002079  0.005358
1241  0.022761 -0.000154
1242  0.014280 -0.000368
1243 -0.016821 -0.001064
1244  0.007436  0.002919
1245 -0.017495  0.000283
1246 -0.003605 -0.000973
1247  0.008903 -0.001342
1248  0.006456 -0.000728
1249  0.013290  0.002446
1250 -0.000836  0.000493
1251  0.005837 -0.002186
1252 -0.006339  0.001887
1253  0.000502  0.001646
1254 -0.005535 -0.002417
1255  0.007373 -0.000364
1256 -0.013953 -0.014580
1257 -0.001694  0.001275

[1258 rows x 2 columns]

In [7]:
cov = returns.cov() * 250
cov

           nike     sp500
nike   0.046854  0.013833
sp500  0.013833  0.014816

In [8]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.013833365277359944

In [10]:
market_var = returns['sp500'].var() * 250 # sp500
market_var

0.014816248809719596

In [11]:
nike_beta = cov_with_market / market_var
nike_beta

0.9336617827506466

In [12]:
free_risk = 0.025
nike_er = free_risk + nike_beta *0.05
nike_er 

# Return expected buying 'boeing'

0.071683089137532324

In [13]:
sharpe = (nike_er - free_risk) / ( returns['nike'].std()*250 **0.5)
sharpe

0.21566865489123391